#comp-lq180d4w3{
--section-max-width: 9999px;
--one-unit: 1cqw;
--wst-button-color-fill-primary: rgb(var(--color_48));
--wst-button-color-border-primary: rgb(var(--color_49));
--wst-button-color-text-primary: rgb(var(--color_50));
--wst-button-color-fill-primary-hover: rgb(var(--color_51));
--wst-button-color-border-primary-hover: rgb(var(--color_52));
--wst-button-color-text-primary-hover: rgb(var(--color_53));
--wst-button-color-fill-primary-disabled: rgb(var(--color_54));
--wst-button-color-border-primary-disabled: rgb(var(--color_55));
--wst-button-color-text-primary-disabled: rgb(var(--color_56));
--wst-button-color-fill-secondary: rgb(var(--color_57));
--wst-button-color-border-secondary: rgb(var(--color_58));
--wst-button-color-text-secondary: rgb(var(--color_59));
--wst-button-color-fill-secondary-hover: rgb(var(--color_60));
--wst-button-color-border-secondary-hover: rgb(var(--color_61));
--wst-button-color-text-secondary-hover: rgb(var(--color_62));
--wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
--wst-button-color-border-secondary-disabled: rgb(var(--color_64));
--wst-button-color-text-secondary-disabled: rgb(var(--color_65));
--wst-color-fill-base-1: rgb(var(--color_36));
--wst-color-fill-base-2: rgb(var(--color_37));
--wst-color-fill-base-shade-1: rgb(var(--color_38));
--wst-color-fill-base-shade-2: rgb(var(--color_39));
--wst-color-fill-base-shade-3: rgb(var(--color_40));
--wst-color-fill-accent-1: rgb(var(--color_41));
--wst-color-fill-accent-2: rgb(var(--color_42));
--wst-color-fill-accent-3: rgb(var(--color_43));
--wst-color-fill-accent-4: rgb(var(--color_44));
--wst-color-fill-background-primary: rgb(var(--color_11));
--wst-color-fill-background-secondary: rgb(var(--color_12));
--wst-color-text-primary: rgb(var(--color_15));
--wst-color-text-secondary: rgb(var(--color_14));
--wst-color-action: rgb(var(--color_18));
--wst-color-disabled: rgb(var(--color_39));
--wst-color-title: rgb(var(--color_45));
--wst-color-subtitle: rgb(var(--color_46));
--wst-color-line: rgb(var(--color_47));
--wst-font-style-h2: var(--font_2);
--wst-font-style-h3: var(--font_3);
--wst-font-style-h4: var(--font_4);
--wst-font-style-h5: var(--font_5);
--wst-font-style-h6: var(--font_6);
--wst-font-style-body-large: var(--font_7);
--wst-font-style-body-medium: var(--font_8);
--wst-font-style-body-small: var(--font_9);
--wst-font-style-body-x-small: var(--font_10);
--color_0: 255,255,255;
--color_1: 255,255,255;
--color_2: 0,0,0;
--color_3: 237,28,36;
--color_4: 0,136,203;
--color_5: 255,203,5;
--color_6: 114,114,114;
--color_7: 176,176,176;
--color_8: 255,255,255;
--color_9: 114,114,114;
--color_10: 176,176,176;
--color_11: 0,0,0;
--color_12: 34,35,35;
--color_13: 110,110,110;
--color_14: 255,255,255;
--color_15: 255,255,255;
--color_16: 54,19,85;
--color_17: 125,43,196;
--color_18: 162,56,255;
--color_19: 194,125,255;
--color_20: 224,189,255;
--color_21: 7,29,72;
--color_22: 15,58,145;
--color_23: 22,87,217;
--color_24: 126,161,230;
--color_25: 170,194,242;
--color_26: 11,63,71;
--color_27: 21,127,141;
--color_28: 32,190,212;
--color_29: 130,215,226;
--color_30: 173,232,241;
--color_31: 72,18,7;
--color_32: 145,36,15;
--color_33: 217,54,22;
--color_34: 230,143,126;
--color_35: 242,182,170;
--color_36: 0,0,0;
--color_37: 255,255,255;
--color_38: 34,35,35;
--color_39: 110,110,110;
--color_40: 179,179,179;
--color_41: 162,56,255;
--color_42: 194,125,255;
--color_43: 22,87,217;
--color_44: 126,161,230;
--color_45: 255,255,255;
--color_46: 255,255,255;
--color_47: 179,179,179;
--color_48: 162,56,255;
--color_49: 162,56,255;
--color_50: 0,0,0;
--color_51: 0,0,0;
--color_52: 162,56,255;
--color_53: 162,56,255;
--color_54: 110,110,110;
--color_55: 110,110,110;
--color_56: 0,0,0;
--color_57: 0,0,0;
--color_58: 162,56,255;
--color_59: 162,56,255;
--color_60: 162,56,255;
--color_61: 162,56,255;
--color_62: 0,0,0;
--color_63: 0,0,0;
--color_64: 110,110,110;
--color_65: 110,110,110;
--font_0: normal normal bold 75px/1.4em helvetica-w01-bold,sans-serif;
--font_1: normal normal normal 16px/1.4em din-next-w01-light,sans-serif;
--font_2: normal normal bold 50px/1.4em helvetica-w01-bold,sans-serif;
--font_3: normal normal bold 40px/1.4em helvetica-w01-bold,sans-serif;
--font_4: normal normal bold 35px/1.4em helvetica-w01-bold,sans-serif;
--font_5: normal normal bold 25px/1.4em helvetica-w01-bold,sans-serif;
--font_6: normal normal normal 25px/1.4em helvetica-w01-bold,sans-serif;
--font_7: normal normal normal 20px/1.4em helvetica-w01-roman,sans-serif;
--font_8: normal normal normal 17px/1.4em helvetica-w01-roman,sans-serif;
--font_9: normal normal normal 14px/1.4em helvetica-w01-roman,sans-serif;
--font_10: normal normal normal 12px/1.4em din-next-w01-light,sans-serif;
--wix-ads-height: 0px;
--sticky-offset: 0px;
--wix-ads-top-height: 0px;
--site-width: 980px;
--above-all-z-index: 100000;
--portals-z-index: 100001;
-webkit-font-smoothing: antialiased;
--minViewportSize: 320;
--maxViewportSize: 1920;
--theme-spx-ratio: 1px;
--scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
--customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
--tooltip-text-color: white;
--tooltip-background-color: black;
--tooltip-margin: 30px;
--tooltip-arrow-size: 6px;
--scrollbar-width: 0px;
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
--pinned-layers-in-page: 0;
--top-offset: var(--header-height);
--header-height: 54px;
--pinned-layer-in-container: 50;
--above-all-in-container: 49;
--transition-duration: 700ms;
--padding: 0px;
--margin: 0px;
--firstChildMarginTop: -1px;
--lastChildMarginBottom: -1px;
--items-direction: row;
--fill-layer-background-media-position: absolute;
--fill-layer-background-media-pointer-events: none;
--bg-gradient: radial-gradient(circle at 39.020182291666664% 52.063802083333336%, rgba(126,161,230,0.48) 0%, 26.000000000000007%, rgba(126,161,230,0) 40%), radial-gradient(circle at 8.684895833333334% 83.798828125%, #222323 0%, 32%, rgba(34,35,35,0) 64%), radial-gradient(circle at 92.8173828125% 84.72005208333333%, #222323 0%, 36%, rgba(34,35,35,0) 72%), radial-gradient(circle at 58.898111979166664% 52.236328125%, rgba(194,125,255,0.71) 0%, 32.830000000000005%, rgba(194,125,255,0) 49%), radial-gradient(circle at 4.5797475179036455% 9.796346028645834%, #000000 0%, 42%, rgba(0,0,0,0) 70%), radial-gradient(circle at 93.6865234375% 11.42578125%, #000000 0%, 42%, rgba(0,0,0,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #000000 0%, 100%, rgba(0,0,0,0) 100%);
--bg-overlay-color: transparent;
--column-width: 980px;
--column-flex: 980;
background: transparent;
outline: 0;
padding: 0;
vertical-align: baseline;
pointer-events: auto;
background-color: var(--corvid-background-color,rgba(var(--bg,0,0,0),var(--alpha-bg,0)));
border: solid var(--corvid-border-color,rgba(var(--brd,227,227,227),var(--alpha-brd,1))) var(--corvid-border-width,var(--brw,0));
border-radius: var(--corvid-border-radius,var(--rd,0));
box-shadow: var(--shd,0 0 0 transparent);
position: relative;
margin: 0px 0px 0px 0;
left: 0px;
grid-area: 1 / 1 / 2 / 2;
justify-self: start;
align-self: start;
--rd: 0px 0px 0px 0px;
--shd: none;
--bg: 255,255,255;
--brd: 227,227,227;
--alpha-brd: 1;
--brw: 0px;
--boxShadowToggleOn-shd: none;
--alpha-bg: 0;
width: 980px;
}